:root {
  --default-sis-color: #111827;
  --default-sis-color-hover: #141c2c;
  --default-sis-color-active: #0d131f;
  --default-sis-color-box-shadow: rgb(162, 22, 194, 0.6);
  --box-shadow-middle-border: #1f2a38ff;
  --default-sis-color-hover-transparent: rgb(162, 22, 194, 0.3);
  --default-sis-color-hiper-transparent: rgb(162, 22, 194, 0.2);
  --gray-color-hiper-transparent: rgba(180, 180, 180, 0.1);
  --border-btn: #a216c2;
  --border-input-focus: #a216c2;
  --label-input-focus: rgb(255, 255, 255, 0.87);
  --text-gray: #fff;
  --white-default: #ffffff;
  --header-bg: #374151;
  --content-page-bg: #1f2937;
  --input-bg: #1f2937;
  --footer-bg: #273041;
  --fter-bg: #273041;
  --p-bd-focus: rgb(156, 156, 156);
  --p-bd-hover: rgb(156, 156, 156);
  --p-bd-box-shadow: rgb(162, 22, 194, 0.6);
  --border-divider: rgba(0, 0, 0, 0.12);
  --text-this: #ac18ce;
  --text-this-more-dark: #8d16a8;
  --p-gestao-color: grayscale(100%) invert(1);
  --bg-label-input: #1f2937;
  --text-felidae: #fff;
  --table-btn-bg: #1a2336;
  --table-btn-color: #ac18ce;
  --secondary-btn: #1a2336;
  --secondary-btn-active: #161d2c;
  --secondary-btn-font-color: #ffffffcc;
  --text-invalid: #fca5a5;
  --invalid-color-box-shadow: rgb(252, 165, 165, 0.6);
  --data-span-color: rgba(255, 255, 255, 0.03);
  --tr-hover: rgba(60, 67, 83, 0.3);
  --secondary-btn-color: #fff;
}
