:root {
  --default-sis-color: #702082;
  --default-sis-color-hover: #972eaf;
  --default-sis-color-active: #651d75;
  --default-sis-color-box-shadow: rgb(112, 32, 130, 0.6);
  --box-shadow-middle-border: #ffffff;
  --default-sis-color-hover-transparent: rgb(112, 32, 130, 0.3);
  --default-sis-color-hiper-transparent: rgb(112, 32, 130, 0.1);
  --gray-color-hiper-transparent: rgba(180, 180, 180, 0.1);
  --border-btn: #702082;
  --border-input-focus: #702082;
  --label-input-focus: #972eaf;
  --text-gray: #4f4f4f;
  --white-default: #ffffff;
  --header-bg: #fff;
  --content-page-bg: #fff;
  --input-bg: #fff;
  --footer-bg: #fff;
  --fter-bg: #fff;
  --p-bd-focus: #972eaf;
  --p-bd-hover: #972eaf;
  --p-bd-box-shadow: rgb(112, 32, 130, 0.6);
  --border-divider: rgba(0, 0, 0, 0.12);
  --text-this: #972eaf;
  --text-this-more-dark: #812f94;
  --p-gestao-color: grayscale(100%);
  --bg-label-input: #fff;
  --text-felidae: #702082;
  --table-btn-bg: #fff;
  --table-btn-color: #702082;
  --secondary-btn: #e2e2e2;
  --secondary-btn-active: #c7c7c7;
  --secondary-btn-font-color: #4f4f4f;
  --text-invalid: #e24c4c;
  --invalid-color-box-shadow: rgb(226, 76, 76, 0.6);
  --data-span-color: rgb(243, 244, 246);
  --tr-hover: rgba(209, 208, 208, 0.3);
  --secondary-btn-color: #9da4b0ff;
}
